[package]
name = "zemeroth"
version = "0.7.0-snapshot"
authors = ["Andrey Lesnikov <ozkriff@gmail.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
description = "A 2D turn-based hexagonal tactical game."

[profile.dev.package."*"]
opt-level = 3

[workspace]
members = ["zcomponents", "zgui", "zscene"]

[dependencies]
ron = "0.6"
log = "0.4"
env_logger = "0.8"
derive_more = "0.99"
serde = { version = "1.0", features = ['derive'] }
num = { version = "0.3", default-features = false }
ui = { path = "zgui", package = "zgui" }
zscene = { path = "zscene" }
zcomponents = { path = "zcomponents" }
rand = { version = "0.7", features = [] }
cgmath = { version = "0.17", features = ["mint"] }
quad-rand = { version = "0.1.1", features = ["rand"] }
gwg = { git = "https://github.com/not-fl3/good-web-game", package = "good-web-game" }
heck = "0.3"

[dev-dependencies]
pretty_assertions = "0.6"
