[package]
name = "zemeroth"
version = "0.7.0-snapshot"
authors = ["Andrey Lesnikov <ozkriff@gmail.com>"]
edition = "2018"
license = "MIT/Apache-2.0"
description = "A 2D turn-based hexagonal tactical game."

[profile.dev.package."*"]
opt-level = 3

[workspace]
members = ["zcomponents", "ggwp-zgui", "ggwp-zscene"]

[dependencies]
ron = "0.5"
log = "0.4"
env_logger = "0.7"
derive_more = "0.99"
serde = { version = "1.0", features = ['derive'] }
num = { version = "0.2", default-features = false }
ui = { path = "ggwp-zgui", package = "ggwp-zgui" }
scene = { path = "ggwp-zscene", package = "ggwp-zscene" }
zcomponents = { path = "zcomponents" }
rand = { version = "0.7", features = [] }
cgmath = { version = "0.17", features = ["mint"] }
qrand = { git = "https://github.com/not-fl3/quad-rand", package = "quad-rand", features = ['rand'] }
gwg = { git = "https://github.com/not-fl3/good-web-game", package = "good-web-game" }

[dev-dependencies]
pretty_assertions = "0.6"
