Plan(
    initial_agents: [
        "swordsman",
        "spearman",
    ],
    nodes: [
        (
            scenario: (
                rocky_tiles_count: 0,
                objects: [
                    (owner: Some((1)), typename: "imp", line: Some(Front), count: 3),
                ],
            ),
            award: (
                recruits: ["hammerman", "alchemist"],
                renown: 17,
            ),
        ),
        (
            scenario: (
                rocky_tiles_count: 5,
                objects: [
                    (owner: None, typename: "boulder", line: None, count: 1),
                    (owner: Some((1)), typename: "imp", line: Some(Front), count: 3),
                    (owner: Some((1)), typename: "imp_bomber", line: Some(Middle), count: 2),
                ],
            ),
            award: (
                recruits: ["spearman", "alchemist"],
                renown: 18,
            ),
        ),
        (
            scenario: (
                rocky_tiles_count: 5,
                objects: [
                    (owner: None, typename: "boulder", line: None, count: 2),
                    (owner: None, typename: "spike_trap", line: None, count: 1),
                    (owner: Some((1)), typename: "imp", line: Some(Front), count: 3),
                    (owner: Some((1)), typename: "imp_toxic", line: Some(Front), count: 1),
                    (owner: Some((1)), typename: "imp_bomber", line: Some(Middle), count: 1),
                    (owner: Some((1)), typename: "imp_summoner", line: Some(Back), count: 1),
                ],
            ),
            award: (
                recruits: ["swordsman", "alchemist"],
                renown: 20,
            ),
        ),
        (
            scenario: (
                rocky_tiles_count: 5,
                objects: [
                    (owner: None, typename: "boulder", line: None, count: 2),
                    (owner: None, typename: "spike_trap", line: None, count: 2),
                    (owner: Some((1)), typename: "imp", line: Some(Front), count: 4),
                    (owner: Some((1)), typename: "imp_toxic", line: Some(Front), count: 2),
                    (owner: Some((1)), typename: "imp_bomber", line: Some(Front), count: 1),
                    (owner: Some((1)), typename: "imp_summoner", line: Some(Middle), count: 1),
                    (owner: Some((1)), typename: "imp_summoner", line: Some(Back), count: 1),
                ],
            ),
            award: (
                recruits: ["spearman", "hammerman"],
                renown: 21,
            ),
        ),
        (
            scenario: (
                rocky_tiles_count: 5,
                objects: [
                    (owner: None, typename: "boulder", line: None, count: 2),
                    (owner: None, typename: "spike_trap", line: None, count: 2),
                    (owner: Some((1)), typename: "imp", line: Some(Front), count: 5),
                    (owner: Some((1)), typename: "imp_toxic", line: Some(Front), count: 3),
                    (owner: Some((1)), typename: "imp_bomber", line: Some(Front), count: 2),
                    (owner: Some((1)), typename: "imp_summoner", line: Some(Middle), count: 1),
                    (owner: Some((1)), typename: "imp_summoner", line: Some(Back), count: 1),
                ],
            ),
            award: (
                recruits: ["swordsman", "spearman", "alchemist"],
                renown: 22,
            ),
        ),
        (
            scenario: (
                rocky_tiles_count: 5,
                objects: [
                    (owner: None, typename: "boulder", line: None, count: 2),
                    (owner: None, typename: "spike_trap", line: None, count: 2),
                    (owner: Some((1)), typename: "imp", line: Some(Front), count: 6),
                    (owner: Some((1)), typename: "imp_toxic", line: Some(Front), count: 3),
                    (owner: Some((1)), typename: "imp_bomber", line: Some(Front), count: 2),
                    (owner: Some((1)), typename: "imp_summoner", line: Some(Middle), count: 2),
                    (owner: Some((1)), typename: "imp_summoner", line: Some(Back), count: 1),
                ],
            ),
            award: (
                renown: 100,
            ),
        ),
    ],
)
