(
    initial_agents: [
        "swordsman",
        "alchemist",
    ],
    nodes: [
        (
            scenario: (
                map_radius: (4),
                rocky_tiles_count: 5,
                objects: [
                    (owner: Some((1)), typename: "imp", line: Front, count: 2),
                ],
            ),
            award: (
                recruits: ["spearman"],
            ),
        ),
        (
            scenario: (
                map_radius: (4),
                rocky_tiles_count: 8,
                objects: [
                    (owner: Some((1)), typename: "imp", line: Front, count: 3),
                    (owner: Some((1)), typename: "imp_bomber", line: Middle, count: 2),
                ],
            ),
            award: (
                recruits: ["hammerman", "alchemist"],
            ),
        ),
        (
            scenario: (
                rocky_tiles_count: 10,
                objects: [
                    (owner: Some((1)), typename: "imp", line: Front, count: 3),
                    (owner: Some((1)), typename: "imp_toxic", line: Middle, count: 1),
                    (owner: Some((1)), typename: "imp_bomber", line: Back, count: 1),
                    (owner: Some((1)), typename: "imp_summoner", line: Back, count: 1),
                ],
            ),
            award: (
                recruits: ["swordsman", "alchemist"],
            ),
        ),
        (
            scenario: (
                rocky_tiles_count: 10,
                objects: [
                    (owner: Some((1)), typename: "imp", line: Front, count: 4),
                    (owner: Some((1)), typename: "imp_toxic", line: Middle, count: 2),
                    (owner: Some((1)), typename: "imp_bomber", line: Back, count: 1),
                    (owner: Some((1)), typename: "imp_summoner", line: Back, count: 2),
                ],
            ),
            award: (
                recruits: ["swordsman", "spearman", "hammerman"],
            ),
        ),
        (
            scenario: (
                rocky_tiles_count: 5,
                objects: [
                    (owner: Some((1)), typename: "imp", line: Front, count: 3),
                    (owner: Some((1)), typename: "imp_toxic", line: Middle, count: 3),
                    (owner: Some((1)), typename: "imp_bomber", line: Back, count: 2),
                    (owner: Some((1)), typename: "imp_summoner", line: Back, count: 3),
                ],
            ),
            award: (
                recruits: [],
            ),
        ),
    ],
)
