(
    rocky_tiles_count: 10,
    objects: [
        (owner: None, typename: "boulder", line: Any, count: 3),
        (owner: None, typename: "spike_trap", line: Any, count: 3),
        (owner: Some((0)), typename: "swordsman", line: Front, count: 1),
        (owner: Some((0)), typename: "hammerman", line: Front, count: 1),
        (owner: Some((0)), typename: "spearman", line: Middle, count: 1),
        (owner: Some((0)), typename: "alchemist", line: Middle, count: 1),
        (owner: Some((1)), typename: "imp", line: Front, count: 4),
        (owner: Some((1)), typename: "imp_toxic", line: Middle, count: 1),
        (owner: Some((1)), typename: "imp_bomber", line: Back, count: 1),
        (owner: Some((1)), typename: "imp_summoner", line: Middle, count: 2),
    ],
)
